.coverage
*/__pycache__
build/*
*/edcon.egg-info
.eggs/*
*.pyc
docs/build/*
docs/source/boollist.rst
docs/source/edcon_tools.rst
docs/source/edrive.rst
docs/source/modules.rst
docs/source/profidrive.rst
