.coverage
*/__pycache__
build/*
*/edcon.egg-info
*/festo_edcon.egg-info
.eggs/*
*.pyc
doc/build/*
doc/source/edcon.cli.rst
doc/source/edcon.edrive.rst
doc/source/edcon.profidrive.rst
doc/source/edcon.rst
doc/source/edcon.utils.rst
doc/source/modules.rst
.vscode/*
**/.idea/*
venv/
