.coverage
*/__pycache__
build/*
*/edcon.egg-info
*/festo_edcon.egg-info
.eggs/*
*.pyc
docs/build/*
docs/source/boollist.rst
docs/source/edcon_cli.rst
docs/source/edrive.rst
docs/source/modules.rst
docs/source/profidrive.rst
.vscode/*
